<div>
    @for (transaction of transactions; track transaction) {
        <div class="transaction-container">
            <div class="transaction-row ps-1">
                <div class="w-50">
                    <input type="text" class="w-100" 
                        [ngClass]="transaction.type === 'income' ? 'row-green' : 'row-red'" 
                        [(ngModel)]="transaction.name">
                </div>
                <div class="w-50">
                    <input type="number" class="w-100"
                        [ngClass]="transaction.type === 'income' ? 'row-green' : 'row-red'" 
                        [(ngModel)]="transaction.amount"
                        (ngModelChange)="onAmountChange($event, transaction)"
                        (input)="calculateTotal($event, transaction.id)"
                        (keydown)="preventInvalidKeys($event)">
                </div>
                <div class="total">
                    {{transaction.total}}
                </div>
            </div>
        </div>
    }
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-6">
                <button class="btn btn-success w-100" (click)="addIncome()">Add Income</button>
            </div>
            <div class="col-6">
                <button class="btn btn-danger w-100" (click)="addExpense()">Add Expense</button>
            </div>
        </div>
    </div>
</div>